# Dependências específicas para simulação de Workspace Azure Machine Learning
# azureml-core==1.59.0
# azureml-defaults==1.59.0
# azureml-mlflow==1.59.0
# azureml-telemetry==1.59.0


azureml-core==1.60.0.post1
azureml-dataprep[pandas]